<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Прокат автомобилей DRIVE&GO</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!--    <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}">-->

</head>
<body>

{% if messages %}
{% for message in messages %}

<div style="text-align: center">

    <div class="alert alert--{{message.tags}}">
        <p class="alert__message" style="font-weight: bold">{{message}}
            <button class="alert__close">x</button>
        </p>

    </div>

</div>

{% endfor %}
{% endif %}

<div class="content">

    <div class="wrap">
        {% block content %}
        {% endblock %}
    </div>

</div>
<footer class="wrap1" style="background-color: #082551;">

    <!-- Footer Links -->
    <div class="container1">

        <!-- Grid row -->
        <div class="row-3">

            <!-- Grid column -->
            <div class="col-md-3">

                <!-- Content -->
                <a href="#"><img class="avenir pt2" src="{% static 'mobile/2.jpg' %}"></a>
                <h5 class="avenir pt2" style="color: white;">DRIVE@GO</h5>
                <p style="color: white;">г.Владимир, ул.Мира, 57А, офис 208 </p>
                <p style="color: white;">пн-птн 9.00-18.00, сб. 10.00-15.00</p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <p class="white-text2">
                    <a href="{% url 'company' %}" style="color: white; text-decoration: none;">О нас</a><br>

                    <a href="{% url 'condition_page' %}" style="color: white;text-decoration: none;">Условия</a><br>

                    <a href="{% static 'mobile/договор.doc' %}" target="_blank" style="color: white;text-decoration: none;">Документы</a><br>

                    <a href="{% url 'contact' %}" style="color: white;text-decoration: none;">Контакты</a><br>

                </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 mb-4 text-center">

                <a class="avenir pb-3" href="tel:89209076492" style="color: #fff; font-size: 1.7rem; font-weight: 500;">
                    <nobr><img style="padding-bottom: 5px;" src="{% static 'mobile/phone-ic.png' %}"> 8-920-907-64-92</nobr>
                </a><br><br>

                <!-- Links
                <a href="https://instagram.com/autotravel_03/"><img class="pl-4 " src="../v/default/i/insta.png"/></a>
                <a href="https://facebook.com/av.travel.03/"><img class="pl-4" src="../v/default/i/facebook.png"/></a>
                -->
                 <a class="telegram-number" href="https://t.me/"
                   style="padding: 10px 30px; font-size: 1.5rem; font-weight: 500;">
                    <img style="padding-bottom: 2px;" width="25" src="{% static 'mobile/telegram-color.png' %}">                </a>

            </div>
            <!-- Grid column -->

        </div>
        <div class="row mt-3 ">
            <div class="col-md-12 text-center">

                <p style="color:#436290;">@2025 DRIVE@GO</p>


            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

    </div>
</footer>

<script src="{% static 'uikit/app.js' %}"></script>
</body>
</html>