{% extends 'mobile/base.html' %}

{% load static %}

{% block content %}

<div class="row">
		<div class="comp">
			 <a href="{% url 'index' %}"><img src="{% static 'mobile/left.png' %}"></a>
			<h2>Наш прокат имеет следующие преимущества для клиента:</h2>
			<ul>
					<li>Оформление документов занимает считанные минуты;</li>
					<li>Услугой проката могут пользоваться как физические, так и юридические лица;</li>
					<li>Весь транспорт застрахован от различных обстоятельств;</li>
					<li>Благодаря высокому уровню технического обслуживания, поломка наших автомобилей минимальна;</li>
					<li>Если у вас возникнут проблемы с выбором авто, менеджеры нашей компании с удовольствием помогут вам определиться и ответят на любые ваши вопросы;</li>
					<li>Цены на наши авто являются одними из самых оптимальных во Владимире, ведь мы не берем лишних переплат;</li>
			</ul>

			<div class="comp1">
				<img class="img" src="{% static 'mobile/company.png' %}" alt="">
			</div>
		</div>

</div>
{% endblock %}