{% extends 'mobile/base.html' %}

{% load static %}

{% block content %}

 <div class="container-6" id="contact">
     <div class="pt">
        <a href="{% url 'index' %}"><img src="{% static 'mobile/left.png' %}"></a><br>
        <h2> Свяжись с нами и мы поможем тебе быстро подобрать нужный авто</h2>

     </div>


        <p class="pt-1" style="color: #000;">Свяжитесь с нами любым
            удобным для вас способом. Вы можете оставить свой телефон и мы перезвоним Вам. Либо можете позвонить по
            телефону. Либо напишите нам в мессенджере.</p>

        <div class="justify-content">
            <div class="col">
                <form action="{% url 'thank_page' %}" class="zac-2" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn5">Отправить</button>
                </form>
            </div>

            <div class="col-1">

                <a class="avenir" href="#"
                   style="color: #000; padding: 10px 30px; font-size: 2rem; font-weight: 500;">
                    <img style="padding-bottom: 5px;" src="{% static 'mobile/phone-ic.png' %}">
                    8-920-907-64-92
                </a>

           <a class="telegram-number" href="https://t.me/" style="padding: 10px 30px; font-size: 1.5rem; font-weight: 500;">
        <img style="padding-bottom: 2px;" width="25" src="{% static 'mobile/telegram-color.png' %}">написать в Telegram </a>
            </div>
        </div>
    </div>

{% endblock %}